---
layout: page
id: "2011_algorithmic_verification"
title: "Algorithmic Verification"
type: "Course"
school: "University of New South Wales, Australia"
term: "S1 2011"
year: 2011
joint_with:
  - "Ansgar Fehnker"
---