---
layout: page
id: "2013_algorithmic_verification"
title: "Algorithmic Verification"
type: "Course"
school: "University of New South Wales, Australia"
term: "S1 2013"
year: 2013
joint_with:
  - "Franck Cassez"
  - "Ralf Huuck"
---