---
layout: page
id: "2014_algorithmic_verification"
title: "Algorithmic Verification"
type: "Course"
school: "University of New South Wales, Australia"
term: "S1 2014"
year: 2014
joint_with:
  - "Franck Cassez"
---