---
layout: page
id: "2015_algorithmic_verification"
title: "Algorithmic Verification"
type: "Course"
school: "University of New South Wales, Australia"
term: "S1 2015"
year: 2015
---