---
layout: page
id: "2017_algorithmic_verification"
title: "Algorithmic Verification"
type: "Course"
school: "University of New South Wales, Australia"
term: "S1 2017"
year: 2017
---