---
layout: page
id: "2018_algorithmic_verification"
title: "Algorithmic Verification"
type: "Course"
school: "University of New South Wales, Australia"
term: "S1 2018"
year: 2018
---