---
layout: page
id: "2019_algorithmic_verification"
title: "Algorithmic Verification"
type: "Course"
school: "University of New South Wales, Australia"
term: "T1 2019"
year: 2019
---