---
title: Automated Verification of Control Protocols with Timed Automata
funder: Defence Science and Technology (DST), Australia
amount: AUD$55k
start: 2020
end: 2021
---
